a { 
  outline: 0;
}

nav > a:not(:last-child) { 
    margin-right: 5px;
}

nav > a:hover {
    text-decoration: none;
}

#video-container { 
  text-align: center;
}
.wrapper {
    width: 50%;
    margin: auto;   
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .wrapper-2 { 
    margin: auto;   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  .wrapper-1 { 
    margin: auto;   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
  
  .wrapper > div { 
    border: 1px solid;
  }

  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two { 
    grid-column: 2 ;
    grid-row: 1;
  }
  .three {
    grid-column: 1 ;
    grid-row: 2;
  }
  .four {
    grid-column: 2;
    grid-row: 2;
  }


  .bombillo { 
      margin: auto;
      /* height: 20px;
      width: 20px;
      background: red;
      border-radius: 50%; */
  }

  .blueprint {
    text-align: center;
  }
  svg {  height:auto; width:100% }

  .ui-to-top i.fa { 
    position: relative;
    bottom: 0.3em;
  }

  a.ui-to-top.btn-circle {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    width: 50px;
    height: 50px;
    padding: 0.3em;
    text-align: center;
    display: none;
  }
