/* Bordered form */
form {
   border: 3px solid #f1f1f1;
   max-width: 500px;
   text-align: center;
   display: block;
    margin-left: auto;
    margin-right: auto
}

/* Full-width inputs */
input[type=text], input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
}

/* Set a style for all buttons */
button {
   background-color: #ED207F;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
   opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
   width: 40%;
   max-width: 200px;
}

/* Add padding to containers */
.container {
  padding: 16px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* The "Forgot password" text */
span.psw {
   float: right;
   padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
   span.psw {
       display: block;
       float: none;
   }
   .cancelbtn {
       width: 100%;
   }
}
